#cover {
  margin-top:20%;
}

p {
  text-indent: 0px;
}

h2 {
  margin: 1em 0;
}

pre {
  margin: 1em 0;
  font-family: monospace;
}

.fixed {
  font-family: monospace;
}

code {
  font-family: monospace;
}

.image, img.center {
  text-align: center;
  margin: auto;
  display: block;
}

img.right {
  float: right;
  margin-left: 0.5em;
}

img.left {
  float: left;
  margin-right: 0.5em;
}

p.caption-text {
    text-align: center;
}

ul.chapters {
	list-style: none;
}
